#topMenuBtns {
    position: absolute;
    right: 20px;
}


.topMenuBtn{
    border:none;
    background: transparent;
    outline: none;
    margin: 0 5px;
    color: #858796;
    -webkit-app-region: no-drag; 
}

#topMenu{
    user-select: none;
    -webkit-app-region: drag; 
}

#linkPage{
    text-decoration: none;
}

.bg-user-status{
    background: #000 !important;
}

.activeBg {
    background-color: #F1AB25 !important;
}

.btn-choice:hover{
    background-color: #F1AB25 !important;
}

.disabled{
    background: rgb(170, 169, 169);
    filter: grayscale(1);
}
